.label, .check-box {
    -fx-font-size: 15px;
}

.item-info {
    -fx-font-size: 30px;
}

.background-pane{
    -fx-background-color: #434c5e;
    -fx-border-radius: 6px;
}

.text-field, .password-field {
    -fx-text-fill: white;
    -fx-min-width: 300px;
}

.menu-button {
    -fx-background-color: #434c5e;
}

#title {
    -fx-text-alignment: center;
    -fx-font-size: 50px;
}

#search-field{
    -fx-text-fill: white;
    -fx-border-radius: 6px;
    -fx-border-width: 1 1 1 1;
}

